@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

header {
  background-color: #000000;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-family: "Press Start 2P";
}

main {
  padding: 20px;
}

#menu {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#menu span {
  cursor: pointer;
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #880000;
  color: #fff;
}

#menu span:hover {
  background-color: #333;
}

#card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  font-family: "Press Start 2P";
}
.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #333;
  color: #ffffff; 
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.card-details {
  margin-top: 10px;
  color: #000; 
}

.songForm {
  color:#007bff;
}

body {
  font-family: "Arial", sans-serif;
}

body {
  background-color: #f1f1f1;
}

h1 {
  margin-bottom: 10px;
  font-size: 2.5rem;
}

p {
  margin-bottom: 20px;
  font-size: 1.1rem;
}

h1 {
  color: #fff;
}

p {
  color: #fff;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

